* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 21px 18px;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about {
  padding: 50px 100px;;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 100px 0 75px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 63px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn-1 {
  display: inline-block;
  background: #f2c1c2;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 10px;
  border: 0px;
  transition: background 0.5s;
}
.btn-1:hover {
  background: #832729;
}
.contactus {
  border: 1px solid #832729;
  border-radius: 5px;
  padding: 11px;
}

.btn:hover {
  background: #563434;
}
.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1100px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p{
  font-size: 14px;
}

.col-4 img {
  width: 300px;
  height: 200px;
  border-radius: 9px;
  border: 1px solid gold;
}
.rating .fa {
  color: gold;
  width: 11px;
  height: 11px;
}

.col-4:hover {
  transform: translatey(-5px);
}

.col-3:hover {
  transform: translatey(-5px);
}

/*----------- offer -----------*/
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px 50px 50px 0;
}

small {
  color: #555;
}

/*--------- testimonial ---------*/

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 10px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa.fa-quote-left {
  font-size: 33px;
  color: gold;
}

.col-3 p {
  font-size: 14px;
  margin: 11px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/*--------- brands ---------*/

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 151px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(63%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

.cart-info:hover {
  border: none;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  transform: scale(1.01);
}
/*--------- footer ---------*/

 .footer {
   background: #f2e9e9;
   color: #832729;
   font-size: 14px;
   padding: 60px 0 20px;
 }

 .footer p {
   color: #832729;
 }

 .footer h3 {
   color: #000;
   margin-bottom: 21px;
 }

.footer-col-1, .footer-col-2 , .footer-col-3, .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 21px;
}

.footer-col-3 {
  flex-basis: 11%;
  text-align: center;
}
.footer-col-4 {
  flex-basis: 11%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 21px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 21px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 25px;
  display: none;
}

/*--------- all products page ---------*/

.row-2 {
  justify-content:space-between;
  margin:0px  auto 50px;
  padding: 0 20px 0 20px;
}

select:focus {
  outline: none;
}

select {
  border: 1px solid #ff523b;
  padding: 5px;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: gold;
  color: #fff;
}


.a-button {
  background-color: #fff;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  margin-top: 11px;
  height: 51px;
  line-height: 1em;
  position: relative;
  text-align: center;
  width: 160px;
}
.b-button {
  background-color: #832729;
  display: inline-block;
  border: 1px solid #000;
  color: #fff;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  margin-top: 11px;
  height: 51px;
  line-height: 1em;
  position: relative;
  text-align: center;
  width: 160px;
}

.single-product {
  margin-top: 80px;
}

.single-product .col-2 .img {
  padding: 0;
}

.single-product .col-2 {

}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  padding: 10px;
  display: block;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

input:focus {
  outline: none;
}

.small-img-row {
  display:flex;
  justify-content:space-around;
}

.small-img-col {
  flex-basis: 25%;
}

/* cart items */

.cart-page {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #832729;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}


td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #832729;
  width: 100%;
  max-width: 400px;
}

.butt {
  display:inline-block;
  padding-right: 11px;
}

.buttn {
  display:inline-block;
  padding-right: 21px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.col-04 {
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-04 img {
  width: 330px;
  height: 330px;
  border-radius: 9px;
  border: 1px solid gold;
}

.col-04 h4 {
  text-align: justify;
}

.col-04:hover {
  transform: translatey(-5px);
}

.ic {
  display:contents;
}


/* Account Page */

.account-page {
  padding: 50px 0;
  background: #FFECE8;
}

.form-container {
  background: #fff;
  width: 320px;
  border-radius: 11px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 10px 0 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.51);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 10px 10px 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}
.button {
  border-radius: 11px;
  border: 1px solid #976e40;
  background-color: #d09b65;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input {
  width: 200px;
  height: 30px;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  border: 1px solid gold;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

.social-container {
  margin: 0px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}


form .btn:focus {
  outline: none;
}

#LoginForm {
  left: -310px;
}
#RegForm {
  left: 0;
}

form a {
  font-size: 10px;
}

#indicator {
  width: 75px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  margin-left: 40px;
  transform:  translateX(100px);
  transition: transform 1s;
}

/* ---------- media query for menu ---------*/

@media only screen and (max-width: 1000px) {

  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2, .col-3, .col-4 {
    flex-basis:100%;
  }
  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }

  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }

  .cart-info p {
    display: none;
  }
}
